<a href="https://colab.research.google.com/github/DenzelRafaelDonato/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [74]:
a=7
b=6

print(10>9)
print(10<9)
print(a>b)

True
False
False

bool() function

In [11]:
print(bool("Denzel"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))
print(bool(-1))

True
True
False
False
False
True
True

Functions can return a Boolean

In [25]:
def my_Function():
  return True

print (my_Function())

True

In [26]:
if my_Function():
  print("True")
else:
  print("False")

True

Application 1

In [123]:
print(a==b)
print(a>b)

False
False

Python Operators

In [41]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10%5)
print(10//3)  #10/3=3.3333
print(10**2)

15
5
3.3333333333333335
50
0
3
100

Bitwise operators

In [46]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [48]:
h = True
l = False
h and l
h or l
not (h or l)

False

Application 2

In [65]:
#Python Assignment Operators

x=3

x+=3 #similar to x=x+3
print(x)
x-=3 #similar to x=x-3
print(x)
x*=3 #similar to x=x*3
print(x)
x/=3 #similar to x=x/3
print(x)
x%=3 #similar to x=x%3
print(x)

6
3
9
3.0
0.0

Identity Operators

In [115]:
h is l
h is not l

True

##Control Structure

If statement

In [66]:
if h is l:
  print("a is greater than b")

Elif Statement

In [68]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is less than b

Else Statement

In [78]:
a=10
b=10

if a>b:
  print("a greater than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [79]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand If...Else Statement

In [81]:
a=6
b=9
print("a is greater than b") if a>b else print("b is greater than a")

b is greater than a

And

In [83]:
if a and b:
  print("Yes")

Yes

Or

In [87]:
if a<b and b==b:
  print("The condition is true")

The condition is true

Nested if

In [98]:
x=int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x>50:
            print("and also above 50")
        else:
            print("but not above 50")

49
x is above 10
and also above 20
and also above 30
and also above 40
but not above 50

#Loop Statement

For Loop

In [124]:
week = ['Sunday','Monday','Tuesday','Wednesday',"Thursday","Friday","Saturday"]

for x in week:
  print(x)

  "Sunday
  Monday
  Tuesday
  Wednesday
  Thursday
  Friday
  Saturday"

SyntaxError: ignored

The break statement

In [108]:
#to display Sunday to Wednesday using For Loop
for x in week:
  print (x)
  if x=="Wednesday":
    break
#to display only Wednesday using break statement
for x in week:
  if x=="Wednesday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday
Sunday
Monday
Tuesday

In [113]:
#to display only Wednesday using break statement
for x in week:
  if x=="Wednesday":
    break
    print (x)

While Statement

In [110]:
i=1
while i<6:
  print(i)
  i+=1 #same as i=i+1

1
2
3
4
5

Application 3 - Create a python program that displays no.3 using break statement

In [122]:
i=1
while i<6:
  if i==3:
    break
  i+=1
  
print(i)

3